<%- include("partials/header") -%>
  <!-- <h1>Home</h1> -->
  <!-- <p><%= paragraph %> </p> -->

  <div class="content" style="margin-left: 30px">
    <% day.forEach( function( d ){ %>
      <div class="edit">
        <form class="" action="/delete" method="post">
          <!-- <input  type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=d._id%>">hi</input> -->
          <!-- <button type="button" name="button"></button> -->
          <!-- <button type="button"  name="button"> <font-awesome-icon icon="fa-solid fa-trash" /></button> -->
          <!-- style="display:inline" -->

          <h1 style="margin-bottom: 0">
            <%=d.title %>
          </h1>

          <p style="margin-left: 60px; margin-top: 0px">
            <%= d.body.substring(0,50) +"...." %>

              <a href="/posts/<%= d._id %>">Read/Edit</a>
          </p>
          <button class="trash" type="submit" name="btn1" value="<%=d._id%>">
            <i class="fa fa-trash"></i>
          </button>
        </form>
      </div>

      <% } ) %>

        <br />
        <!-- as one entry so name and value for the button is not specifies -->
        <form class="" action="/home" method="post">
          <button class="btn btn-primary" type="submit" class="btn btn-primary" style="margin-bottom: 5px">
            New Entry
          </button>
        </form>
  </div>

  <%- include("partials/footer") -%>